.user-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    width: 30px;
    min-width: 300px;
}